# Postgres config
POSTGRES_IMAGE=postgres:15.2-alpine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chainlink_test
POSTGRES_PORT=5432

# Geth config
GETH_IMAGE=ethereum/client-go:stable
GETH_WS_PORT=8546
GETH_HTTP_PORT=8544
GETH_CHAIN_ID=1337

# Devnet config
DEVNET_IMAGE=aptoslabs/tools:aptos-node-v1.18.0
DEVNET_WS_PORT=8081
DEVNET_HTTP_PORT=8080
DEVNET_FAUCET_PORT=8081
DEVNET_CHAIN_ID=4

# Core config
CORE_NODE_COUNT=5
CORE_IMAGE=chainlink-aptos
CORE_VERSION=latest
CORE_REPO="https://github.com/smartcontractkit/chainlink.git"
CORE_HTTP_PORT=6688
CORE_P2P_PORT=6690

# Build config
CORE_REPO="https://github.com/smartcontractkit/chainlink.git"
CORE_REF=aptos-init
